#Flex{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;

    #Flex1{
        display: flex;
        justify-content: center;
        width: 25%;
    }
    #Flex2{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
    #Flex3{
        display: flex;
        justify-content: center;
        width: 25%;
    }
}

@media screen and (min-width: 320px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #Flex1{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
        }
        #Flex3{
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}

@media screen and (min-width: 375px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #Flex1{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
        }
        #Flex3{
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 412px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #Flex1{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
        }
        #Flex3{
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 480px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #Flex1{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
        }
        #Flex3{
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 600px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #Flex1{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
            margin-bottom: 5%;
        }
        #Flex3{
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 768px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: start;
        flex-wrap: wrap;
    
        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
            margin-bottom: 5%;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 800px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        margin-top: 5%;
        padding: 0%;
    
        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
            margin-bottom: 5%;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 1024px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        margin-top: 2%;
        padding: 0%;
    
        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 95%;
            height: 100%;
            order: 3;
            margin-bottom: 5%;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 2;
        }
    }
}
@media screen and (min-width: 1280px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin-top: 2%;
        padding: 0%;

        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
            margin: 0%;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 45%;
            height: 100%;
            order: 2;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 3;
            margin: 0%;
        }
    }
}
@media screen and (min-width: 1440px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin-top: 2%;
        padding: 0%;

        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
            margin: 0%;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 40%;
            height: 100%;
            order: 2;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 3;
            margin: 0%;
        }
    }
}
@media screen and (min-width: 1920px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;

        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
            margin: 0%;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 40vw;
            height: 100%;
            order: 2;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 3;
            margin: 0%;
        }
    }
}
@media screen and (min-width: 2880px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;

        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
            margin: 0%;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 30%;
            height: 100%;
            order: 2;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 3;
            margin: 0%;
        }
    }
}
@media screen and (min-width: 3072px){
    #Flex{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin-top: 5%;
        padding: 0%;

        #Flex1{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 1;
            margin: 0%;
        }
        #Flex2{
            display: flex;
            justify-content: center;
            width: 30%;
            height: 100%;
            order: 2;
        }
        #Flex3{
            display: flex;
            justify-content: center;
            width: 25%;
            order: 3;
            margin: 0%;
        }
    }
}